pipeline/pipelineWebActivity.json
{
	"name": "pipelineWebActivity",
	"properties": {
		"activities": [
			{
				"name": "RestAPICall",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://dummy.restapiexample.com/api/v1/employees"
				}
			},
			{
				"name": "WebHook1",
				"type": "WebHook",
				"dependsOn": [
					{
						"activity": "RestAPICall",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://dummy.restapiexample.com/api/v1/employees",
					"method": "POST",
					"body": {
						"value": "@activity('RestAPICall').output.status",
						"type": "Expression"
					},
					"timeout": "00:10:00",
					"reportStatusOnCallBack": false,
					"disableCertValidation": false
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-07-30T15:42:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}