pipeline/pipelineReturnValue.json
{
	"name": "pipelineReturnValue",
	"properties": {
		"activities": [
			{
				"name": "pipelineToReturnLogs",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pipelineToReturnLogs",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ScriptToInsertPipeLineNameAndRunId",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "pipelineToReturnLogs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "LinkedService_SQL",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "Insert into pipeline_exec_logs(PipelineName,RunId) values ('@{activity('pipelineToReturnLogs').output.pipelineReturnValue.PipelineName}','@{activity('pipelineToReturnLogs').output.pipelineReturnValue.RunId}')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"annotations": []
	}
}