pipeline/pipeline1variables.json
{
	"name": "pipeline1variables",
	"properties": {
		"activities": [
			{
				"name": "FileName",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileName",
					"value": {
						"value": "@replace(pipeline().parameters.FileName,'Sales','')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If FileType is Hourly",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "FileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('FileName'),'Hourly')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Copy data to Daily Table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DataSetSQl",
									"type": "DatasetReference",
									"parameters": {
										"tableName": "tableNameSource",
										"serverNamefromDataset": "serverName",
										"dbNamefromDataset": "dbName",
										"UserNamefromDataset": "User",
										"passwordfromDataset": "Pass"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DataSetSQl",
									"type": "DatasetReference",
									"parameters": {
										"tableName": "tableNameDest",
										"serverNamefromDataset": "serverName",
										"dbNamefromDataset": "dbName",
										"UserNamefromDataset": "User",
										"passwordfromDataset": "Pass"
									}
								}
							]
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy data to Hourly Table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DataSetSQl",
									"type": "DatasetReference",
									"parameters": {
										"tableName": "tableNameSource",
										"serverNamefromDataset": "serverName",
										"dbNamefromDataset": "dbName",
										"UserNamefromDataset": "User",
										"passwordfromDataset": "Pass"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DataSetSQl",
									"type": "DatasetReference",
									"parameters": {
										"tableName": "tableNameDest",
										"serverNamefromDataset": "serverName",
										"dbNamefromDataset": "dbName",
										"UserNamefromDataset": "User",
										"passwordfromDataset": "Pass"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"FileName": {
				"type": "string"
			}
		},
		"variables": {
			"FileName": {
				"type": "String"
			},
			"ListOfFiles": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-07-29T15:46:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}