pipeline/pipelineMetadata.json
{
	"name": "pipelineMetadata",
	"properties": {
		"activities": [
			{
				"name": "MetaData of input folder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DataSetTest1Output",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "MetaData of input folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "childitems",
					"value": {
						"value": "@activity('MetaData of input folder').output.childItems",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Output": {
				"type": "Array"
			},
			"Outputofactivity": {
				"type": "String"
			},
			"FolderExists": {
				"type": "Boolean"
			},
			"childitems": {
				"type": "Array"
			},
			"Size": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-07-30T08:02:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}